@media (max-width: 1024px) {
  #home,
  #aboutme,
  #skillservice,
  #myexperience,
  #myproject,
  #contactme {
    padding-inline: 50px;
    padding-block: 100px;
  }

  .profile {
    flex-direction: column;
    width: 100%;
  }

  .card-project {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .home {
    padding-right: 0;
  }

  .home h1 {
    padding-inline: 250px;
  }

  ul {
    flex-direction: column;
    gap: 20px;
  }

  .tools,
  .service,
  .content-project {
    flex-direction: column;
  }

  form {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #home h1,
  #aboutme h1,
  #skillservice h1,
  #myexperience h1,
  #myproject h1,
  #contactme h1 {
    font-size: 24px;
  }

  #home img,
  .profile img,
  #skillservice img {
    width: 100%;
    height: auto;
  }

  button {
    font-size: 13px;
    padding: 8px 16px;
  }

  .card {
    width: 100%;
    padding: 20px;
  }
}
